*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    font-family: 'sans-serif', 'Roboto';
    margin: 0;
}

:root {
    --bg-color1: #000000;
    --bg-color2: #1f1f1f;
    --bg-color3: #575757;
    --font-color: white;
    --theme-color: #cf7dff;
}

body{
    height: 100vh;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 30px 100px;
}

.heading {
    display: flex;
    gap: 20px;
}

.addNewBook {
    max-width: 50px;
    justify-self: end;
}

main {
    background-color: var(--bg-color2);
    height: 1000px;
    border-top: 1px solid rgb(184, 184, 184);
}

#emptyLibMsg {
    text-align: center;
    padding-top: 50px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
}

.book {
    background-color: var(--bg-color3);
    border-radius: 8px;
    padding: 20px;
    padding-left: 50px;
}

.details {
    font-weight: bold;
    color: var(--theme-color);
}

#addBook {
    max-width: 500px;
    background-color: var(--bg-color3);
    border-radius: 20px;
}
.addBookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
}

.readBook {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

input[type="text"]:focus {
    outline: none;
}

.addBook {
    width: 100px;
    padding: 5px 0;
    border-radius: 10px;
    border: none;
}

.addBook:hover {
    background-color: var(--theme-color);
    color: white;
}