*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    font-family: 'sans-serif', 'Roboto';
    margin: 0;
}

:root {
    --bg-color1: #000000;
    --bg-color2: #1f1f1f;
    --bg-color3: #575757;
    --font-color: white;
    --theme-color: #c159fd;
}

body{
    height: 100vh;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}   

header {
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px 30px 100px;
}

.heading {
    display: flex;
    gap: 20px;
}

.newEntry {
    max-width: 50px;
    justify-self: end;
}

main {
    background-color: var(--bg-color2);
    height: 1000px;
    border-top: 1px solid rgb(184, 184, 184);
}

#emptyLibMsg {
    text-align: center;
    padding-top: 50px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    gap: 20px;
    padding: 50px;
}

.book {
    background-color: var(--bg-color3);
    border-radius: 8px;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.readBtn {
    max-width: 150px;
    border-radius: 10px;
    border: none;
    padding: 5px 0;;
}

.readBtn.read {
    background-color: #5dac5d;
}

.readBtn.notRead {
    background-color: #d44747;
}

.header {
    font-weight: bold;
    color: var(--theme-color);
}

/* Hide the popup by default */
#addBookTab {
    display: none;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color3);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 20px;
    
}

.addBookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.addBookForm > h2 {
    height: 50px;
    color: var(--theme-color);
}

.helpText {
    display: none;
}

.helpText.warning-active {
    display: block;
    font-size: 12px;
    color: #ff4949;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    padding: 8px 0 0 5px;
}

.helpText.alert-active {
    display: block;
    font-size: 12px;
    color: #ff4949;
    animation: shake 0.2s;
    animation-iteration-count: 1;
    padding: 8px 0 0 5px;
}

.input {
    height: 50px;
}

#readBook {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#readBook > p {
    position: relative;
    top: -5px;
}

input[type="text"],
input[type="number"] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 10px; 
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    width: 100px;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
}

#addBtn:hover,
#cancelBtn:hover {
    background-color: var(--theme-color);
    color: white;
}

 #overlay {
    filter: blur(50px);
    pointer-events: none;
    user-select: none;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,  0, 0, 0.6);
    z-index: 5;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translate(-5px);
    }
    50% {
        transform: translate(5px);
    }
    75% {
        transform: translate(-5px);
    }
    100% {
        transform: translate(0);
    }
}